
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

/*spinner*/
.spinner {
    color: #0494cc;
    margin-top: 2%;
}